/*
	Theme Name: Food Farm Council
	Author: Shane Schroll
	Author URI: https://weare502.com
	Version: 1.0.1
	Text Domain: food-farm-council
*/

// fix homepage top section height for larger header
@import 'bp';

.home {
	// make line-height unitless instead of 72px
	.site-main h2 {
		font-size: 54px;
		line-height: 1;
		@include bp(380px) { line-height: 1.2; }
		@include bp(600px) { font-size: 62px; }
	}
} // end [.home]

// fix about us page membership req's boxes (width and sizing)
#councilrequirements ul li {
	font-size: 14px;
}