.entry-meta {
	border-left: 0;
	padding-left: 0;
}

.entry-meta-inner {
	display: flex;
	flex-direction: column;
	border-left: 3px solid #F85039;
	padding-left: 19px;
}


.agency-category-checkbox {
  height: 22px;
  width: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
  margin-right: 13px;
  min-width: 22px;
}

.agency-category-list-item:checked ~ .agency-category-checkbox {
	background: #F85039;
}

.agency-category-checkbox i, .agency-category-list-item {
	display: none;
}

.agency-category-list-item:checked ~ .agency-category-checkbox i {
	display: block;
}

.blog  .indexheader h1.entry-title, .page-template-default h1.entry-title {
	color: #FFFFFF;
}
.page-template-default .entry-content{
	margin: 160px 0 60px;
}
ul#educationbuttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tax-agency-category .sidecontent {
	position: -webkit-sticky;
	position: sticky;
	top: 20px;
	
}
.admin-bar.tax-agency-category .sidecontent {
	top: 52px;
}


ul#educationbuttons li a.activecat div {
	background: #FDE8DC;
	color: #003329;
}

ul#educationbuttons li a.activecat {
	text-decoration: none;
}

ul#educationbuttons li.activecat {
	border: 3px solid #FDE8DC;
	cursor: pointer;
}

#impacttracker {
	position: relative;
}

.impacttrackerinner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: inherit;
}

.trackerbutton {
	cursor: pointer;
}

.tax-agency-category main#primary{
	overflow: visible;
}


#agency-seach-popup {
	position: relative;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

#agency-seach-popup form { 
	display: flex;
}

#agency-seach-popup .search-field, .search-no-results .search-field, .posts-search-form .search-field {
	border-radius: 12px 0px 0px 12px;
	height: 47px;
	width: 75%;
	padding: .5rem 1rem;
}

#agency-seach-popup .search-submit, .search-no-results .search-submit, .posts-search-form .search-submit {
	border-radius: 0px 12px 12px 0px;
	background: #003329;
	color: white;
	height: 47px;
	width: 25%;
	border: 1px solid #555;
	padding: 0;
}

#agency-seach-popup .search-submit:hover, #agency-seach-popup .search-submit:focus, .search-no-results .search-submit:hover, .search-no-results .search-submit:focus, .posts-search-form .search-submit:hover, .posts-search-form .search-submit:focus {
	background: #F85039;
	color: white;
	background: #C3FDF4;
	color: #003329;
}


#agency-seach-popup button.mfp-close {
	width: 44px;
	font-size: 40px;
	background: none;
	color: white;
	right: -16px;
}


body.search-results #agencycontent {
	width: 100%;
	max-width: 980px;
	padding: 0 20px 50px;
	margin: 0 auto;
	grid-gap: 60px;
	grid-template-columns: 1fr;
	margin-top: 50px;
}

body.search-results #agencybody {
	padding: 0;
	margin-top: 90px;
}

body.search-results #agencybody .agcontent {
	margin: 0 0 50px;
}

body.search-results .agency-list-item {
	margin-bottom: 50px;
}


body.search-results .page-title {
	color: #fff;
	max-width: 820px;
	width: cal(100% - 40px);
	margin: 0 auto 47px;
}

body .mfp-bg {
	opacity: 0.95;
}

/* menu */

.menu-container {
	background: #F85039;
	position: absolute;
	right: -320px;
	width: 320px;
	height: 100%;
	z-index: 10001;
	overflow: auto;
	-webkit-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
	position: fixed;
}

body {
	position: relative;
}

body.open .menu-container {
	right: 0;
}

#page {
	right: 0;
	-webkit-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
}

.side-nav-open-container {
	display: none;
	position: absolute;
	background: black;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
	opacity: 0.8;
}
body.open .side-nav-open-container  {
display: block;
}



.menu-container .nav-menu {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
}

.menu-container .sub-menu  {
	position: static;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

.menu-container .menu i {
	float: right;
	cursor: pointer;
	line-height: 0;
	top: -30px;
	right: 20px;
	position: relative;
	color: #14315a;
	padding: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.menu-container .main-navigation ul li:hover > i {
	color: #fff;
}


.menucloseword {
	font-weight: bold;
}
.menu-toggle .fa.fa-times{
	margin-top: 34px;
}
#page .menu-toggle .fa.fa-bars, .menu-toggle .fa.fa-times{
	margin-left: 10px;
}

.menu-toggle {
	padding: 0;
	background: none;
	border: 0;
	margin-left: 10px;
	margin-top: 0px;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}

.menu-container .menu-main-menu-container {
	margin-top: 20px;
	width: 100%;
}

.menu-container ul#primary-menu {
	margin-top: 17px;
}
.menu-container ul#primary-menu li a{
	text-align: left;
}
.menu-toggle li.current_page_item a:hover, .main-navigation li.current_page_item a, .main-navigation li.current_page_item a:hover, .main-navigation li a:hover {

}

.menu-container .main-navigation a {
	padding: 17px 17px;
}

.menu-container .main-navigation ul.sub-menu a {
	float: left;
	text-shadow: 0px 1px 1px rgba(78, 119, 21, 1);
	width: 100%;
}

.menu-container .main-navigation {
	display: block;
	text-align: left;
}

@media screen and (min-width: 768px){
	#page .menu-toggle {
		display: none;
	}

}

@media screen and (max-width: 768px){
	#page .menu-main-menu-container, #masthead ul#primary-menu {
		display: none;
	}
}
/* menu end */


.page-content .search-form, .posts-search-form {
	display: flex;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.posts-search-form {
	margin-bottom: 50px;
}


@media screen and (max-width: 768px){
	#impacttracker ul {
		display: flex;
	}
	
	#impacttracker ul li {
		margin-bottom: 0;
	}

}

ul#educationbuttons {
	margin-bottom: 0;
}

.blog .showall {
	margin-top: 60px;
	margin-bottom: 60px;
}


