/*!
Theme Name: Food Farm Council
Theme URI: http://underscores.me/
Author: 502 Marketing
Author URI: https://weare502.com/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: food-farm-council
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Food Farm Council is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #003329;
}

a:visited {
	color: #003329;
}

a:hover,
a:focus,
a:active {
	color: #000;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	grid-gap: 22px;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 50%;
	        flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: -ms-grid;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	-ms-grid-columns: (1fr)[5];
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	-ms-grid-columns: (1fr)[6];
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	-ms-grid-columns: (1fr)[7];
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	-ms-grid-columns: (1fr)[8];
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	-ms-grid-columns: (1fr)[9];
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
/* CCG CODE STARTS */
/* GLOBAL CSS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  font-family: "proxima-nova", sans-serif;
}
body.page{
		margin-bottom: 0 !important;
}
.page-template-page-home .orangebox {
  height: 575px;
  width: 100%;
  background-color: #F85039;
	position: absolute;
	z-index: -1;
}
.single-agency .orangebox, .single-post .orangebox, .error404 .orangebox, .search-no-results .orangebox{
	height: 120px;
}
.search-no-results .site-main{
	margin-bottom: 50px;
	padding: 0 20px;
}
.orangebox {
  height: 348px;
  width: 100%;
  background-color: #F85039;
	position: absolute;
	z-index: -1;
}
.blog .posts-search-form{
	padding: 0 20px;
}
/* HEADER */
ul#primary-menu li a{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.67px;
  line-height: 20px;
  text-align: center;
}
/* HOME */
.page-template-page-home .entry-header{
	display: none;
}
.page-template-page-home .site-main h2{
  color: #FFFFFF;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 72px;
  text-align: center;
	max-width: 750px;
	width: 100%;
	padding: 0 20px;
	margin: 26px auto 33px;
}
#homebox{
	background: #003329;
	max-width: 980px;
	width: 100%;
	padding: 0 20px;
	border-radius: 12px;
	margin: 0 auto;
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
          box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
	padding: 65px 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
ul#blocks{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 30px 1fr 30px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(auto-fill, 230px);
	-ms-grid-rows: 1fr 30px 1fr;
	grid-template-rows: repeat(2, 1fr); 
	list-style: none;
	margin: 0;
	padding: 0 36px;
	grid-gap: 30px;
	row-gap: 30px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
ul#blocks > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
ul#blocks > *:nth-child(2){
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
ul#blocks > *:nth-child(3){
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}
ul#blocks > *:nth-child(4){
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
ul#blocks > *:nth-child(5){
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
ul#blocks > *:nth-child(6){
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}
ul#blocks li a{
  border-radius: 12px;
  background-color: #FDE8DC;
  height: 140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	grid-gap: 10px;
	color: #003329;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.83px;
  line-height: 24px;
  text-align: center;
	text-decoration: none;
}
ul#blocks li a:hover{
	//background: #C3FDF4;
	background: #fff;
}
ul#blocks li a:hover rect#Rectangle-Copy-6, ul#blocks li a:hover rect#Rectangle-Copy-7, ul#blocks li a:hover rect#Rectangle-Copy-8, ul#blocks li a:hover rect#Rectangle-Copy-9, ul#blocks li a:hover rect#Rectangle-Copy-10, ul#blocks li a:hover rect#Rectangle-Copy-11{
	background: #C3FDF4;
	fill: #C3FDF4;
}
ul#blocks li a img{
	width: 50%;
	height: 50%;
	object-fit: contain;
}
/* HOME VEGETABLES */
#homefood{
	max-width: 1054px;
	width: 100%;
	margin: -60px auto 0;
}
/* AGENCY BACKGROUND */
.agencybg{
	position: absolute;
	z-index: -999;
	top: -110px;
	/*position: fixed;*/
}
/* IMPACT TRACKER */
#impacttracker{
	background: #003329;
	color: #fff;
	text-align: center;
	padding: 17px auto 96px;
}
.trackerbutton{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	grid-gap: 12px;
	padding: 17px 0;
}
#impacttracker h3{
	margin: 0;
}
#impacttracker ul{
	
	display: -ms-grid;
	
	display: grid;
	-ms-grid-columns: 1fr 40px 1fr 40px 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
	max-width: 980px;
	padding: 18px 20px 78px;
	width: 100%;
	margin: 0 auto;
	list-style: none;
}
#impacttracker ul li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.stattitle{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
	margin-bottom: 12px;
}
.statnumber i{
  color: #FFFFFF;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 1em;
  text-align: center;
	margin-right: 17px;
}
.statnumber{
  color: #FFFFFF;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
  text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
/* HEADER */
body .site{
	position: relative;
}
#masthead{
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#masthead ul#primary-menu {
display: -ms-grid;
display: grid;
grid-gap: 40px;
-ms-grid-columns: 1fr 40px 1fr;
grid-template-columns: 1fr 1fr;
}
#masthead ul#primary-menu li a{
	border-bottom: 2px solid #F85039;
}
#masthead ul#primary-menu li a:hover{
	border-bottom: 2px solid #fff;
}
.searchicon{
	width: 24px;
	height: 24px;
	font-size: 12px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 20px;
}
.searchicon:hover{
	background: #003329;
	border-color: #003329;
	cursor: pointer;
}
/* FOOTER */
.site-footer{
	background: #003329;
	color: #fff;
}
.footercontainer{
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}
.site-info{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
	padding: 22px 0;
}
.footerlogo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.site-info .item {
	border-right: 2px solid #F85039;
}
.site-info .item + .item + .item{
	border: 0;
}
.addressinfo h5{
  color: #D8D8D8;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
	margin: 0 0 7px;
  line-height: 25px;
  text-align: center;
}
ul#quicklinks{
	list-style: none;
	padding: 0;
	margin: 0;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	max-width: 244px;
	width: 100%;
	margin: 0 auto;
}
ul#quicklinks li a{
	color: #D8D8D8;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
ul#quicklinks li a:hover{
	text-decoration: underline;
}
ul#footersocial {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 22px 0 0 0;
	padding: 0;
	font-size: 18px;
}
ul#footersocial li a{
	color: #C3FDF4;
	margin: 8px;
}
ul#footersocial li a:hover{
	color: #F85039;
}
.rightcontent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 100%;	
	color: #D8D8D8;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
	text-align: right;
}
.rightcontent p{
	max-width: 100%;
	padding: 0 0 0 32px;
}
.site-copy{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 20px auto 20px auto;
	grid-template-columns: repeat(3, auto);
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15px;
  border-top: 2px solid #FFFFFF;
	grid-gap: 20px;
}
.site-info a, .site-copy a{
	color: #fff;
	text-decoration: none;
}
.site-info a:hover, .site-copy a:hover{
	color: #F85039;
	text-decoration: underline;
}
.item.copyright{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.item.privacypolicies{
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.item.designlogo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.item.designlogo a{
	display: -ms-grid;
	display: grid;
  -ms-grid-columns: auto 5px 1fr;
  grid-template-columns: auto 1fr;
	grid-gap: 5px;
}	

/* AGENCY */
/*.agency-template-default .site-main{
	max-width: 980px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;
}*/
h1{
  color: #003329;
  font-size: 62px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 71px;
  text-align: center;
}
#agencycontent{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 40px 2fr;
	grid-template-columns: 1fr 2fr;
	grid-gap: 40px;
	margin-bottom: 110px;
}
#sidebar{
  
}
.logo_image{
	margin: 0 auto 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.sidecontent{
	padding: 20px 33px;
	color: #FFF;
	border-radius: 12px;
  background-color: #003329;
}
.sidecontent .address{
	margin-bottom: 36px;
}
.sidecontent .keycontact, .sidecontent .email, .sidecontent .website, .sidecontent .phone, .sidecontent .fax, .sidecontent .social{
	margin-bottom: 24px;
}
.sidecontent h4{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
	margin: 0 0 30px;
}
.sidecontent h5{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
	margin: 0 0 3px;
}
.sidecontent ul{
	margin: 0;
	list-style: none;
	padding: 0 0 0 16px;
  color: #D8D8D8;
	color: #FFF;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
.sidecontent a{
	color: #C3FDF4;
}
.sidecontent a:hover{
	color: #fff;	
}
.address, .website, .phone, .fax, .social{
	
}
.social h5{
	
}
ul#agsocial{
	
}
ul#agsocial li{
	
}
ul#agsocial li a{
	
}
ul#agsocial li a:hover{
	
}
#agsocial i{
	font-size: 18px;
}
#agencybody{
	padding-top: 37px;
}
#agencybody .mission{
  color: #003329;
	font-size: 16px;
	line-height: 22px; 
	display: -ms-grid; 
	display: grid;
	-ms-grid-columns: 1fr 20px auto;
	grid-template-columns: 1fr auto;
	font-style: italic;
	grid-gap: 20px;
	font-weight: 600;
	margin-bottom: 40px;
}
#agencybody .quotes{
	color: #F85039;
  font-size: 180px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 120px;
  font-style: normal;
}
#agencybody .images{
  display: -ms-grid;
  display: grid;
	-ms-grid-columns: 1fr 40px 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
}
#agencybody .images .image1, #agencybody .images .image2{
	width: 267px;
	height: 200px;
	border-radius: 12px;
}
.orangeborder{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  height: 200px;
  width: 267px;
  border: 3px solid #F85039;
  border-radius: 12px;
	position: relative;
	top: 10px;
	left: 10px;
}
.agcontent{
	margin-top: 50px;
}

/* ABOUT */
#introbox{
	max-width: 811px;
	padding: 0 20px;
	width: calc(100% - 40px);
  border-radius: 12px;
  background-color: #FDE8DC;
	margin: 0 auto;
	color: #003329;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
	position: relative;
}
.introboxcontent{
	padding: 40px 69px 50px 79px;
}
.greenborder{
	border: 3px solid #003329;
  border-radius: 12px;
	position: absolute;
	top: 12px;
	left: 14px;
	width: 100%;
	height: 100%;
}
#introcols{
	margin: 84px auto;
	max-width: 980px;
	padding: 0 20px;
	width: 100%;
}
#introcols ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 66px 1fr 66px 1fr;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 66px;
}
#introcols ul li .number{
	height: 79px;
  width: 79px;
  background-color: #003329;
	color: #fff;
	border-radius: 100px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 40px;
}
#introcols ul li .content{
	color: #353535;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
	border-left: 2px solid #F85039;
	padding-left: 19px;
	font-weight: 500;
}
#introcols ul li{
	
}
#councilgoals{
  background-color: #FDE8DC;
	padding: 33px 0 60px;
	width: 100%;
}
#councilgoals h2, h2{
	color: #003329;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
  text-align: center;
	margin: 0 0 .5em;
}
.search-results h2{
	text-align: left;
}
#councilgoals ul{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(449px, 1fr));
	margin: 30px auto 0;
	padding: 0;
	list-style: none;
	grid-gap: 30px;
	row-gap: 30px;
	max-width: 980px;
	padding: 0 20px;
	width: 100%;
}
#councilgoals ul li{
	border-radius: 12px;
  background-color: #003329;
	color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
	position: relative;
}
#councilgoals .orangeborder{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 3px solid #F85039;
  border-radius: 12px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#councilgoals .greenbox{
	padding: 43px 28px 23px 49px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}
#councilmembers{
	max-width: 980px;
	padding: 44px 20px;
	width: 100%;
}
#councilmembers ul{
	margin: 40px auto 0;
	list-style: none;
	padding: 0;
	display: -ms-grid;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	row-gap: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#councilmembers ul li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#councilmembers .image img{
	border-radius: 100px;
	width:130px;
	height:130px;
	-o-object-fit: cover;
	   object-fit: cover;
}
#councilmembers .name{
  color: #003329;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
	margin: 0 0 8px;
}
#councilmembers .title{
	color: #003329;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
	font-style: italic;
	margin: 0 0 8px;
}
#councilmembers .content{
	color: #363636;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
#councilrequirements{
  max-width: 980px;
	padding: 0 20px;
	width: 100%;
}
#councilrequirements ul{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
	padding: 0;
	margin: 0;
	list-style: none;
	margin: 30px auto;
	grid-gap: 20px;
}
#councilrequirements ul li{
	border-left: 2px solid #F85039;
	padding-left: 18px;
	color: #656565;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 22px;
	width: calc(100% - 24px);
}
#councilrequirements ul li p{
	margin: 0;
}
/* EDUCATION BUTTONS */
ul#educationbuttons{
	list-style: none;
	margin: 0 0 120px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	row-gap: 26px;
	max-width: 980px;
	width: 100%;
	padding: 0 20px;
}
ul#educationbuttons li{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 185px;
	width: 220px;
	border: 3px solid #003329;
	border-radius: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
ul#educationbuttons li img{
	padding: 0;
	margin: -9px 6px;
  width: 202px;
	height: 118px;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 12px 12px 0 0;
	position: relative;
	z-index: -1;
}
ul#educationbuttons li div{
	height: 73px;
  width: 100%;
  background-color: #003329;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 0 0 9px 9px;
}
ul#educationbuttons li:hover{
	border: 3px solid #FDE8DC;
	cursor: pointer;
}
ul#educationbuttons li:hover div{
	background: #FDE8DC;
	color: #003329;
}
ul#educationbuttons li:hover a {
	text-decoration: none;
}
/* INDEX */
.indexcontent{
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-gap: 20px;
	row-gap: 20px;
	margin-bottom: 50px;
	max-width: 980px;
	padding: 0 20px;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.indexcontent article{
	background: #FDE8DC;
	border-radius: 12px;
	margin: 0;
	padding: 34px 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.indexcontent article h2 a{
	color: #003329;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
	text-decoration: none;
	text-align: left;
}
.indexcontent article h2{
	text-align: left;
	margin: 0 0 15px;
	padding: 0;
	line-height: 0; 
}
.indexcontent .articlecontent{
	padding: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
  margin: 0;
}
/* ARTICLE */
main#primary{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	overflow: hidden;
}
.post-thumbnail img{
	border-radius: 12px;
	margin-bottom: 42px;
}
article, .error-404{
	max-width: 980px;
	padding: 0 20px;
	width: 100%;
	margin: 0 auto;
	color: #3C3C3C;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
}
.error-404{
	margin-bottom: 50px;
}
.articlecontent{
	padding: 0 50px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 3fr 20px 7fr;
	grid-template-columns: 3fr 7fr;
	grid-gap: 20px;
	margin-bottom: 50px;
}
.entry-meta{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border-left: 3px solid #F85039;
	padding-left: 19px;
}
.byline, .cat-links{
		margin-bottom: 14px;
}
.byline a, .cat-links a{
	color: #3C3C3C;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
	text-decoration: none;
	text-transform: capitalize;
}
.byline a:hover, .cat-links a:hover, .posted-on a:hover{
	text-decoration: underline;
}
.edit-link{
	display: none;
}
.posted-on a{
  color: #3C3C3C;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
	text-decoration: none;
	font-style: italic;
}
.entry-content{
	padding: 0;
	margin: 0;
}
.entry-content p:first-of-type{
	margin-top: 0;
}
hr.wp-block-separator{
	max-width: 300px;
	width: 50%;
	margin: 3em auto;
}
.entry-content ul, .entry-content ol{
	margin: 2em 0 2em 3.2em;
  padding: 0;
}
.entry-content ul li, .entry-content ol li{
	margin-bottom: .5em;
}
blockquote.wp-block-quote{
	background: #003329;
	color: #fff;
	border-radius: 12px;
	padding: 2em;
	font-size: 1.3em;
	margin: 2em auto;
}
blockquote.wp-block-quote cite{
	font-size: .8em;
	color: rgba(255,255,255,.8);
}

/* AGENCY CATEGORY */
body.tax-agency-category h1, body.archive.category h1{
	color: #fff;
	max-width: 820px;
	width: cal(100% - 40px);
	margin: 0 auto 47px;
}
body.tax-agency-category #agencycontent{
	width: 100%;
	max-width: 980px;
	padding: 0 20px 50px;
	margin: 0 auto;
	grid-gap: 60px;
}
body.tax-agency-category #agencybody{
	padding: 0;
	margin-top: 90px;
}
body.tax-agency-category #agencybody .agcontent{
	margin: 0 0 50px;
}
.tax-agency-category h2{
	text-align: left;
  color: #003329;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
}
.agency-overview{
	border-left: 2px solid #F85039;
	padding-left: 19px;
	color: #303030;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}
.tax-agency-category .agency-list-item{
	margin-bottom: 50px;
}
.agency-link {
	margin-top: 50px;
}
.agency-link a{
	height: 54px;
  width: 189px;
  border-radius: 12px;
  background-color: #003329;
	color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.agency-link a:hover{
	background: #F85039;
}
ul.agency-category-list{
	color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
	margin: 0 0 23px;
	padding: 0;
}
.agency-category-list li{
	margin-bottom: 12px;
}
.agency-category-list li label{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}
h4.filter-text{
	padding: 0;
	margin-bottom: 14px;
}
ul.agency-category-list input{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  height: 22px;
  width: 22px;
  border: 2px solid #FFFFFF;
  border-radius: 7px;
	background: #003329 !important;
	margin-right: 13px;
}
ul.agency-category-list input[type="checkbox"]{
	background: #003329 !important;
}
.tax-agency-category .sidecontent a{
	color: #C3FDF4;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
}
.tax-agency-category .sidecontent a:hover{
	color: #fff;
}
body.search-results h1.page-title{
	margin: 26px auto 33px;
}
#introduction{
	color: #FFFFFF;
	font-size: 62px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 72px;
	text-align: center;
	width: 100%;
	padding: 0 20px;
	margin: 26px auto 33px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 980px){
	#homebox{
		width: 100%;
		max-width: calc(100% - 40px);
		margin: 0 20px;
	}
}
@media screen and (max-width: 968px){
	#introcols ul {
			margin: 0 auto;
			-ms-grid-columns: 1fr;
			grid-template-columns: 1fr;
  		max-width: 415px;
  		width: 100%;
	}
	#councilgoals ul{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		max-width: 450px;
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.site-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	body.tax-agency-category #agencycontent{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	ul#quicklinks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.site-info .item{
		border: 0;
		margin: 10px auto;
	}
	.rightcontent p{
		padding: 0 20px;
		text-align: center;
	}
	.articlecontent{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.articlecontent {
    padding: 0 10px;
	}
	#impacttracker ul{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	#impacttracker ul li{
		margin-bottom: 40px;
	}
	#impacttracker ul li+li+li{
		margin-bottom: 0px;
	}
	h1, #introduction {
	    font-size: 2.5em;
	    line-height: 1em;
	}
	body.tax-agency-category #agencybody{
		margin-top: 0;
	}
}
@media screen and (max-width: 600px){
	#agencycontent{
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 40px;
		margin-bottom: 110px;
	}
	.site-copy{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		grid-gap: 0;
		padding: 20px 0;
	}
	.site-copy p{
		padding: 0;
		margin: 5px auto;
	}
	#homebox{
		background: #003329;
		width: 302px;
		padding: 0 20px;
		border-radius: 12px;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
		        box-shadow: 0 0 7px 0 rgba(0,0,0,0.5);
		padding: 65px 0;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.introboxcontent {
    padding: 30px 10px;
  }
	#councilgoals .greenbox{
		padding: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 100%;
	}
	#masthead{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.site-branding svg{
		max-width: 200px;
		width: 100%;
	}
}